# Food

In [5]:
import sqlite3

In [6]:
mydb = sqlite3.connect("mydatabase.db")
mydb.close()

In [8]:
def createTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE FavFood (id INTEGER PRIMARY KEY, Pokemon VARCHAR(255), PokemonFavFood VARCHAR(255))")
    mydb.close()

In [9]:
def fillTable():   
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO FavFood (Pokemon, PokemonFavFood ) VALUES (?, ?)"
    val = [
    ('Pikachu', 'Apples'),
    ('Steenie', 'Mango Juice'),
    ('Togedemaru', 'Berries'),
    ('Popplio', 'Small fish'),
    ('Turtonator', 'Macarons'),
    ('Vulpix', 'Macarons'),
    ]
    mycursor.executemany(sql, val)
    print(mycursor.rowcount)        
    mydb.commit()
    mydb.close()

In [10]:
def viewTable(): 
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "SELECT * FROM FavFood"
    mycursor.execute(sql)
    tableData = mycursor.fetchall()
    for x in tableData:
      print(x)
    mydb.commit()
    mydb.close()

In [11]:
def deleteTable():   
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "DROP TABLE IF EXISTS FavFood"
    mycursor.execute(sql)
    mydb.close()

In [12]:
deleteTable()
createTable()
fillTable()
viewTable()

6
(1, 'Pikachu', 'Apples')
(2, 'Steenie', 'Mango Juice')
(3, 'Togedemaru', 'Berries')
(4, 'Popplio', 'Small fish')
(5, 'Turtonator', 'Macarons')
(6, 'Vulpix', 'Macarons')